name: Automated Tests

on:
  workflow_dispatch:
    inputs:
      test-type:
        description: 'Select which tests to run'
        required: true
        default: 'both'
        type: choice
        options:
          - ui
          - api
          - both

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run API tests
        if: ${{ github.event.inputs.test-type == 'api' || github.event.inputs.test-type == 'both' }}
        run: npm run test:api

      - name: Run UI tests
        if: ${{ github.event.inputs.test-type == 'ui' || github.event.inputs.test-type == 'both' }}
        run: npm run test:ui


